POSTGRES_DB=our_first_year
POSTGRES_USER=our_first_year
POSTGRES_PASSWORD=REPLACE_WITH_A_UNIQUE_DATABASE_PASSWORD
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

APP_ORIGIN=http://localhost:5173
APP_MEDIA_DIRECTORY=./storage/media
APP_MFA_ENCRYPTION_KEY=REPLACE_WITH_A_GENERATED_ENCRYPTION_KEY
APP_DEMO_ENABLED=false
